[submodule "submodules/Roact"]
	path = submodules/Roact
	url = https://github.com/Roblox/roact.git
[submodule "submodules/Flipper"]
	path = submodules/Flipper
	url = https://github.com/Reselim/Flipper.git
